!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Congratulations, #{@user.name}! You have been awarded a new badge:
    %h2
      = @badge.display_name
    :markdown
      #{@badge.description}

      #{@badge.notification_bonus_message}
    %p
      = link_to "Visit your profile", user_url(@user)
      to see all your badges.
    %p
      May The Force Be With You!
    %br
    Best regards,
    %br
    Rails School,
    = link_to root_url, root_url

    - if @user.unsubscribe_token.present?
      %p
        = link_to "Unsubscribe immediately", badge_unsubscribe_url(code: @user.unsubscribe_token)
