%p#notice= notice

%h1= @badge.display_name

:markdown
  #{@badge.description}

%h2 Recipients (#{@recipients.size}):

%ul.recipients
  - @recipients.each do |recipient|
    = render "users/single_user", user: recipient

%p
  = link_to "All badges", badges_path
