!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi, #{@user.name}! We added a new class at #{format_datetime(@lesson.start_time)}
    %h2
      = @lesson.title
    %p= @lesson.summary
    - if @lesson.description.present?
      %p
        :markdown
          #{@lesson.description}
    %p
      RSVP here:
      %a{:href => lesson_path(@lesson, :only_path => false)}= @lesson.title

    = render "footer"
