!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi, #{@user.name}! We added a new class at #{format_datetime(@lesson.start_time)}
    %h2
      = @lesson.title
    %p= @lesson.summary
    - if @lesson.description.present?
      %p
        :markdown
          #{@lesson.description}
    %p
      %a{href: lesson_path(@lesson, only_path: false), style: "text-decoration: none; color: white; font-family: 'arial'; font-size: 14px;"}
        %div{style:"background-color: #2ba6cb; width: 100px; text-align: center; color: white; height: 30px; line-height: 30px; border-radius: 5px;"} RSVP HERE

    = render "footer"

