!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi, #{@user.name}! We added a new class at #{format_datetime(@lesson.date)}
    %h2
      = @lesson.title
    %p= @lesson.summary
    - if @lesson.description.present?
      %p
        :markdown
          #{@lesson.description}
    %p
      RSVP here:
      %a{:href => lesson_path(@lesson, :only_path => false)}= @lesson.title
    %br
    %p
      May The Force Be With You!
    %br
    Best regards,
    %br
    Rails School,
    %a{:href =>"http://www.railsschool.org"}www.railsschool.org

    - if @user.unsubscribe_token.present?
      %p
        %a{:href => unsubscribe_path(:code => @user.unsubscribe_token, :only_path => false)} Unsubscribe immediately
