= form_for @user do |f|
  = render 'shared/errors', resource: @user

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :hide_last_name, "Hide last name (in Attendance)"
    = f.check_box :hide_last_name
  .actions
    = f.submit 'Save'
