= form_for @user do |f|
  = render 'shared/errors', resource: @user

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
