%p#notice= notice

%p
  %b Name:
  = @user.name

%p
  %b Email:
  = @user.email

%p
  %b Homepage:
  = @user.homepage

%p
  %b Last name hidden (in Attendance):
  = @user.hide_last_name

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
