= provide(:title, 'About us')

%h1 About Rails School

%p
  Rails School is a weekly seminar and workshop for learning everything about Ruby, Rails, and web application development.

%h2 San Francisco, CA

%p
  We operate in San Francisco with the generous support of
  = link_to 'Noisebridge', 'https://www.noisebridge.net/wiki/Noisebridge'
  hackerspace.  If you like what we do, please consider
  = link_to 'making a donation', 'https://www.noisebridge.net/wiki/Donate_or_Pay_Dues'
  to Noisebridge, a 501(c)(3) nonprofit organization.

.member
  .pic-wrap
    =image_tag('gabe.jpg')
  %h1 Gabe Kopley
  %p Teacher and Organizer

.member
  .pic-wrap
    =image_tag('greg.jpg')
  %h1 Greg Lazarev
  %p Teacher

.member
  .pic-wrap
    =image_tag('mike.jpg')
  %h1 Michael Makarov
  %p Teacher

.member
  .pic-wrap
    =image_tag('sameer.jpg')
  %h1 Sameer Siruguri
  %p Teacher

.member
  .pic-wrap
    =image_tag('brad.jpg')
  %h1 Brad Johnson
  %p Teacher

.member
  .pic-wrap
    =image_tag('neeharika.jpg')
  %h1 Neeharika Bhartiya
  %p Teacher

.member
  .pic-wrap
    =image_tag('dennis.jpg')
  %h1 Dennis Woo
  %p Teacher

.member
  .pic-wrap
    = image_tag('adrien.jpg')
  %h1 Adrien Cadet
  %p Teacher

%h2 Charlottesville, VA

%p
  We're supported in central Virginia by
  = link_to 'Coshx Labs', 'http://www.coshx.com'
  and
  = succeed '.' do
    = link_to 'The Center for Open Science', 'http://centerforopenscience.org/'
  If you enjoy the classes, consider
  = link_to 'contributing to our codebase', 'https://github.com/rails-school/school'
  to make RailsSchool even awesomer.

.member
  .pic-wrap
    =image_tag('ben.png')
  %h1 Ben Taitelbaum
  %p Teacher and Organizer

.member
  .pic-wrap
    =image_tag('lucas.png')
  %h1 Lucas Cioffi
  %p Teacher
