= provide(:title, 'FAQ')

%h1 Frequently Asked Questions

%ul.faq-items

  %li.faq-item
    = faq_item_question("What is this class about?")
    %p Rails School covers everything about Ruby, Rails, and web application development.
    %p Some of our lessons are on Ruby, some are on Rails, and some are on other topics completely.

  %li.faq-item
    = faq_item_question("How is the curriculum organized?  Do you ever start over?")
    %p Our weekly lessons vary by topic and difficulty.
    %p The curriculum never starts over, but we hold lessons explicitly for beginners from time to time.

  %li.faq-item
    = faq_item_question("How should I prepare for my first Ruby lesson?")
    %p
      Please make sure you have Ruby 2.0.0 or higher on your laptop.  If you need to install Ruby, we suggest following the
      = succeed '.' do
        %a{href: 'http://installfest.railsbridge.org/installfest/installfest'}<
          Railsbridge InstallFest guide

    %p
      Then go through
      %a{href: 'http://tutorials.jumpstartlab.com/projects/ruby_in_100_minutes.html'} Ruby in 100 Minutes
      by JumpstartLab.

  %li.faq-item
    = faq_item_question("How should I prepare for my first Rails lesson?")
    %p
      First, make sure Rails 4.2.x is installed on your machine.  If you need to install Rails, please follow the great, actively maintained
      = succeed '.' do
        %a{href: 'http://installfest.railsbridge.org/installfest/installfest'}<
          Railsbridge InstallFest guide

    %p
      Then create a blog app by completing the
      = succeed '.' do
        %a{href: 'http://guides.rubyonrails.org/getting_started.html'}<
          Rails Getting Started Guide
      (we will build off the blog app extensively)

  %li.faq-item
    = faq_item_question("How do I sign up?  Does it cost money?")
    %p
      Please
      %a{href: user_registration_path} sign up
      on this website, and RSVP for the lessons you plan on attending.
    %p
      Classes are free of cost, but we'd love for you to
      %a{href: 'https://www.noisebridge.net/wiki/Donate_or_Pay_Dues'}<
        donate to Noisebridge
      on our behalf.

  %li.faq-item
    = faq_item_question("What's the best way to start learning Ruby on Rails?")
    %p
      There's a good discussion on Quora that gives great answers to that, including tutorials
      %a{href: 'http://www.quora.com/Ruby-on-Rails-web-framework/Whats-the-best-way-for-a-beginner-to-start-learning-Ruby-on-Rails'}
        Best way to start learning ROR - Quora

  %li.faq-item
    = faq_item_question("Do you need help?")
    %p
      Yes!  We always welcome new teachers and TAs to better serve our students and keep this thing going.
    %p Please RSVP and join us in class.

  %li.faq-item
    = faq_item_question("Do you have a Code of Conduct?")
    %p
      Yes! We expect all participants to adhere to our
      = succeed '.' do
        %a{href: 'https://github.com/rails-school/conduct'}<
          Code of Conduct

  %li.faq-item
    = faq_item_question("May I create my own local Rails School?")
    %p
      Yes. In fact, we'd love to help you!
      = succeed '.' do
        %a{href: 'https://github.com/rails-school/school/blob/master/STARTING_A_LOCAL_SCHOOL.md'}<
          Here are our instructions for starting a new school
