%h1 Listing venues

%table
  %tr
    %th name
    %th slug
    %th Address
    %th City
    %th State
    %th Country
    %th Zip
    %th
    %th
    %th

  - @places.each do |place|
    %tr
      %td= place.name
      %td= place.slug
      %td= place.address
      %td= place.city
      %td= place.state
      %td= place.country
      %td= place.zip
      %td= link_to 'Show', place
      %td= link_to 'Edit', edit_venue_path(place)
      %td= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Place', new_venue_path
