%p#notice= notice
%h1=@place.name
%p
  %b Slug:
  = @place.slug
%p
  %b Comment:
  = @place.comment
%p
  %b Address:
  = @place.address
%p
  %b City:
  = @place.city
%p
  %b State:
  = @place.state
%p
  %b Country:
  = @place.country
%p
  %b Zip:
  = @place.zip

=render :partial => "shared/maps", :locals => {:places => @place}

-if can? :manage, :venues
  = link_to 'Edit', edit_venue_path(@place)
  \|
  = link_to 'Back', venues_path
