.text
  .date
    Next Workshop /
    = format_date(lesson.date) if lesson.present?
  %h1=lesson.title
  .summary= lesson.summary
  -if main_page == true
    .view
      =link_to 'View class Details', lesson
  -else
    %br
    .description
      :markdown
        #{lesson.description}
    %br
    %br
  .details
    = render "lessons/time_and_place", :lesson => lesson

    %br
  =render :partial => "attendances/rsvp", :locals => {:lesson => lesson}


.image
  .img-wrap
    .img
  =render :partial => "social_media/likes", :locals => {:message => "I'm going to rails class #{lesson.title}!!", :url => url_for(lesson)}

.clearboth{:style => "clear:both;"}
