.text
  .date
    Next Workshop /
    =lesson.date.try(:strftime, "%h, %d %Y") if lesson.present?
  %h1=lesson.title
  .summary= lesson.summary
  -if main_page == true
    .view
      =link_to 'View class Details', lesson.url
  -else
    %br
    .description
      #{lesson.description}
    %br
    %br
  .details
    Date:
    =lesson.date.try(:strftime, "%h, %d %Y")
    Time:
    =lesson.date.try(:strftime, "%I:%m%p")
    %br
    Location:
    -if lesson.place.present?
      =lesson.place.address
      =lesson.place.city
      =link_to "(map)", lesson.place


    %br
  =render :partial => "attendances/rsvp", :locals => {:lesson => lesson}


.image
  .img-wrap
    .img
  -if main_page == true
    =render :partial => "social_media/likes", :locals => {:message => "I'm going to rails class #{lesson.title}!!", :url => "http://www.railsschool.org#{lesson.url}"}
  -else
    =render :partial => "social_media/likes", :locals => {:message => "I'm going to rails class #{lesson.title}!!", :url => ""}



.clearboth{:style => "clear:both;"}
