= form_for @lesson do |f|
  = render 'shared/errors', resource: @lesson

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .time-field
    =f.label :date
    =f.datetime_select :date
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :course_id
    = f.number_field :course_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
