= provide(:title, @lesson.title.html_safe)

-provide :left_column do
  .past
    - if @lesson.teacher.present?
      %h2 Teacher
      %ul.teachers
        %a{href: user_path(@lesson.teacher)}
          = render "users/show_attending", user: @lesson.teacher
    - if @lesson.users.any?
      %h2 Attendance
      %p
        = pluralize(@lesson.users.count, "student")
        - if (@lesson.end_time || @lesson.start_time) > Time.now
          attending
        - else
          were there
      %ul.attendees
        - @lesson.users.each do |u|
          %a{href: user_path(u)}
            = render "users/show_attending", :user => u
  - if user_signed_in?
    = render :partial => "polls/poll", :locals => {poll: current_user.next_unanswered_poll, previous_poll: nil}

.lesson_details
  =render :partial => "lessons/announce", :locals => {:lesson => @lesson, :main_page => false}

%hr

%p#notice= notice

%h2 Whiteboard

-if user_signed_in?
  -if @whiteboard == true
    %iframe{:src => "#{etherpad_host(@lesson)}rails-school-lesson-#{@lesson.id}", :style => "width:100%;height:600px;border:1px solid #CCCCCC;"}
  -else
    .action
      =link_to "Show whiteboard", whiteboard_lesson_path(@lesson), :class => "button secondary"

      %br
      %br
      %br

-else
  = link_to "Please, sign in to see the Whiteboard", whiteboard_lesson_path(@lesson)

-if admin?
  = link_to 'Edit', edit_lesson_path(@lesson), :class => 'button'
  - if current_user.email.match(/railsschool.org$/)
    - if @lesson.notification_sent_at.blank?
      = link_to "Notify subscribers", notify_subscribers_path(@lesson.id), method: :post, data: {confirm: "Are you sure?"}
    - else
      Notification email was sent #{@lesson.notification_sent_at}.
  - else
    Please update your account to use your @railsschool.org email in order to notify subscribers by email.


-provide :meta do
  %meta{:content => "Rails School San Francisco - #{@lesson.title}", :property => "og:title"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => url_for(@lesson), :property => "og:url"}/
  %meta{:content => "http://www.railsschool.org/assets/logo.png", :property => "og:image"}/
  %meta{:content => "www.railsschool.org", :property => "og:site_name"}/
  %meta{:content => "100000245725293", :property => "fb:admins"}/
  %meta{:content => "442490832470487", :property => "fb:app_id"}/
  %meta{:content => "Rails School San Francisco - #{@lesson.description}", :property => "og:description"}/
