= provide(:title, @lesson.title.html_safe)

-provide :left_column do
  .past
    - if @lesson.teacher.present?
      %h2 Teacher
      %ul.teachers
        = render partial: "users/single_user", locals: {user: @lesson.teacher, lesson: @lesson}
    - if @lesson.users.any?
      %h2 Attendance
      %p
        = pluralize(@lesson.users.count, "student")
        - if (@lesson.end_time || @lesson.start_time) > Time.now
          attending
        - else
          were there
      %ul.attendees
        - @lesson.users.each do |u|
          = render partial: "users/single_user", locals: {user: u, lesson: @lesson}
  - if user_signed_in?
    = render partial: "polls/poll", locals: {poll: current_user.next_unanswered_poll, last_completed_poll: nil}

.lesson_details
  =render partial: "lessons/announce", locals: {lesson: @lesson, main_page: false}

%hr

%p#notice= notice

%h2 Whiteboard

- if @lesson.start_time < Time.parse("2012-11-07")
  %p
    Sadly the whiteboards prior to 2012-11-07 are gone forever
- elsif user_signed_in?
  -if @whiteboard == true
    %iframe{src: "//pad.railsschool.org/p/rails-school-lesson-#{@lesson.id}?userName=#{display_name(current_user)}", style: "width:100%;height:600px;border:1px solid #CCCCCC;"}
  -else
    .action
      =link_to "Show whiteboard", whiteboard_lesson_path(@lesson), class: "button secondary"

      %br
      %br
      %br

-else
  = link_to "Please, sign in to see the Whiteboard", whiteboard_lesson_path(@lesson)

- if @lesson.hangout_url.present? || @lesson.archive_url.present?
  - if Time.now > @lesson.start_time - 15.minutes
    %h2 Watch Lesson
  - else
    %h5 The hangout link will be posted here 15 minutes before the class
  .action
    - if @lesson.hangout_url.present? && Time.now > @lesson.start_time - 15.minutes && Time.now < @lesson.end_time + 5.minutes
      - if user_signed_in?
        = link_to 'Join Hangout', @lesson.hangout_url, class: "button primary", target: "_blank"
      - else
        Please, sign in to join the hangout
    - if @lesson.archive_url.present? && Time.now > @lesson.end_time + 5.minutes
      = link_to 'Watch Recording', @lesson.archive_url, class: "button secondary", target: "_blank"
    %br
    %br
    %br
- else
  - if @lesson.notification_sent_at && Time.now < @lesson.end_time + 5.minutes
    %h2 No Hangout for this lesson

-if can? :manage, @lesson
  = link_to 'Edit', edit_lesson_path(@lesson), class: 'button'
  -if can? :manage, :notifications
    - if @lesson.notification_sent_at.blank?
      = link_to "Notify subscribers", notify_subscribers_path(@lesson.id), method: :post, data: {confirm: "Are you sure?"}
    - else
      Notification email was sent #{@lesson.notification_sent_at}.
    = link_to "Send message to the attendees", new_lesson_notification_path(@lesson)
  - else
    Please update your account to use your @railsschool.org email in order to notify subscribers by email.


-provide :meta do
  - school_name = (@lesson.nil? || @lesson.venue.nil?) ? current_school.name : @lesson.venue.school.name
  - # For Google
  %meta{content: "#{@lesson.summary}", property: "description"}/
  - # For Facebook
  - unless @lesson.image_social.nil?
    %link{rel: "image_src", type: "image/#{File.extname(@lesson.image_social).delete('.')}", href: "#{image_url(@lesson.image_social)}"}
  %meta{content: "#{school_name} - #{@lesson.title}", property: "og:title"}/
  %meta{content: "website", property: "og:type"}/
  %meta{content: "www.railsschool.org" + url_for(@lesson), property: "og:url"}/
  %meta{content: image_url(@lesson.image_social), property: "og:image"}/
  %meta{content: "www.railsschool.org", property: "og:site_name"}/
  %meta{content: "100000245725293", property: "fb:admins"}/
  %meta{content: "442490832470487", property: "fb:app_id"}/
  %meta{content: "#{@lesson.summary}", property: "og:description"}/
  - # For Twitter
  %meta{content: "#{school_name} - #{@lesson.title}", property: "twitter:title"}/
  %meta{content: "#{@lesson.summary}", property: "twitter:description"}/
  %meta{content: image_url(@lesson.image_social), property: "twitter:image"}/
