= provide(:title, @lesson.title)

-provide :left_column do
  .past
    -lesson = @lesson
    %h2 Attendance
    %p
      =lesson.users.count
      People attending
    %ul.attendees
      -lesson.users.each do |u|
        - if u.homepage.present?
          %a{href: u.homepage, rel: "nofollow"}
            = render "users/show_attending", :user => u
        - else
          = render "users/show_attending", :user => u
  - if user_signed_in?
    = render :partial => "polls/poll", :locals => {poll: current_user.next_unanswered_poll, previous_poll: nil}

.lesson_details
  =render :partial => "lessons/announce", :locals => {:lesson => @lesson, :main_page => false}

%hr

%p#notice= notice

%h2 Whiteboard

-if user_signed_in?
  -if @whiteboard == true
    %iframe{:src => "#{etherpad_host(@lesson)}rails-school-lesson-#{@lesson.id}", :style => "width:100%;height:600px;border:1px solid #CCCCCC;"}
  -else
    .action
      =link_to "Show whiteboard", whiteboard_lesson_path(@lesson), :class => "button secondary"

      %br
      %br
      %br

-else
  Please, sign in to see the Whiteboard

-if 1 == 2
  %p
    %b Title:
    = @lesson.title
  %p
    %b Description:
    = @lesson.description
  %p
    %b Date:
    = @lesson.start_time
  %p
    %b Address:
    = @lesson.address
  %p
    %b City:
    = @lesson.city
  %p
    %b Course:
    = @lesson.course_id
  %p
    %b User:
    = @lesson.user_id

-if admin?
  = link_to 'Edit', edit_lesson_path(@lesson), :class => 'button'
  - if current_user.email.match(/.*@railsschool.org$/)
    = notify_subscribers_link(@lesson)
  - else
    Please update your account to use your @railsschool.org email in order to notify subscribers by email.


-provide :meta do
  %meta{:content => "Rails School San Francisco - #{@lesson.title}", :property => "og:title"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => url_for(@lesson), :property => "og:url"}/
  %meta{:content => "http://www.railsschool.org/assets/logo.png", :property => "og:image"}/
  %meta{:content => "www.railsschool.org", :property => "og:site_name"}/
  %meta{:content => "100000245725293", :property => "fb:admins"}/
  %meta{:content => "442490832470487", :property => "fb:app_id"}/
  %meta{:content => "Rails School San Francisco - #{@lesson.description}", :property => "og:description"}/
