- cachable = false unless defined?(cachable)
.rsvp{'data-id' => lesson.id}
  -the_date = lesson.start_time.present? ? lesson.start_time.to_date : Date.today.to_date
  -today = Time.current
  -if the_date >= today.to_date
    .actions
      -if user_signed_in? && !cachable
        -if current_user.attend?(lesson.id)
          %a.a_button.pressed{:href => "/rsvp/#{lesson.id}/delete", 'data-remote' => true, 'data-method' => 'POST'}
            unRSVP
        -else
          %a.a_button{:href => "/rsvp/#{lesson.id}", 'data-remote' => true, 'data-method' => 'POST'}
            RSVP!
      -else
        %a.a_button{:href => "/rsvp/#{lesson.id}", 'data-reveal-id' => 'LoginModal', 'data-remote' => true}
          RSVP!
    .text
      #{lesson.users.count} people are going
      %br
      -if user_signed_in?
        -if current_user.attend?(lesson.id)
          You are going
      /See
      /=link_to 'who is going', lesson
  -else
    .text
      #{lesson.users.count} people were there
      %br
      -if user_signed_in?
        -if current_user.attend?(lesson.id)
          You were there
      /See
      /=link_to 'who was there', lesson
