!!!
%html
  %head
    %title= title_content(yield(:title))
    %meta{:charset => "UTF-8"}
    -if controller.action_name == 'show' && controller.controller_name == "lessons"
      = yield :meta
    -else
      =render "social_media/meta"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = render "layouts/google_analytics"
    =csrf_meta_tags
    = include_gon
  %body
    =render "social_media/fb_header"
    =render :partial => "layouts/header"
    =save_button
    .content
      .left-column
        = yield :left_column
      .center-column
        -if controller.controller_name == "home" and controller.action_name == "index"
          = yield
        -else
          .announce
            = yield
      .right-column
        = yield :right_column
    = render :partial => "layouts/footer"
    = render :partial => "devise/login_modal"

    =yield :scripts
